<div class="dashboard-header">
  <h2>Dashboard</h2>
  <button mat-raised-button color="primary" (click)="saveLayout()">Save Layout</button>
</div>
<gridster [options]="options">
  @for (item of dashboard; track $index) {
    <gridster-item [item]="item">
      <mat-card class="widget-card">
        <div class="widget-header">
          <span>{{ item.label }}</span>
        </div>

        <div class="widget-body">
          @if (item.label === 'Total Sales') {
            <div class="sales">
              <h3>$56,780</h3>
            </div>
          }
          @else if (item.label === 'Line Chart') {
            <div class="chart-container">
              <canvas baseChart [type]="'line'" [data]="lineChartData" [options]="chartOptions"></canvas>
            </div>
          }
          @else if (item.label === 'Bar Chart') {
            <div class="chart-container">
              <canvas baseChart [type]="'bar'" [data]="barChartData" [options]="chartOptions"></canvas>
            </div>
          }
          @else if (item.label === 'Table') {
            <div class="table-container">
                <mat-form-field appearance="outline" class="table-filter">
                <mat-label>Filter</mat-label>
                <input
                    matInput
                    (keyup)="dataSource.filter = $any($event.target).value?.trim().toLowerCase()"
                    placeholder="Search user, email, or country..."
                />
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                    <td mat-cell *matCellDef="let r">{{ r.user }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let r">{{ r.email }}</td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                    <td mat-cell *matCellDef="let r">{{ r.country }}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales</th>
                    <td mat-cell *matCellDef="let r">{{ r.amount | currency:'USD' }}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let r">{{ r.date }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

          }
          @else if (item.label === 'Filter Bar') {
              <app-filter-bar></app-filter-bar> 
         }
        </div>
      </mat-card>
    </gridster-item>
  }
</gridster>
